
.titulo {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo h1 {
    font-size: 56px;
    color: white;
    font-family: 'Baloo Chettan 2', cursive;
}