.nota-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.nota-screen div {
    height: 90%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    font-family: 'Baloo Chettan 2', cursive;
    overflow-y: auto;
}

.nota-screen div h1 {
    font-size: 64px;
    margin: 10px;
}

.nota-screen div p {
    font-size: 36px;
    margin: 10px;
}